.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
**/*.map
.gitignore
tsconfig.json
vsc-extension-quickstart.md
.directory
bin/linux/scry
bin/linux/.scry.out
bin/darwin/scry
bin/darwin/.scry.out
bin/win32/scry
bin/win32/.scry.out